<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{title}</title>
</head>
<body>
    <h1>CV de {name} {surname}</h1>
    <p><strong>Edad:</strong> {age}</p>
    <p><strong>Profesión:</strong> {profession}</p>
    <hr>
    <p>¡Aprendiendo Django! <em>(si es que llego...)</em></p>
</body>
</html>